{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <b>
                    Employee Table
                </b>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Date Of Joining</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in employees %}
                <tr>
                    <th scope="row">{{ key +1 }}</th>
                    <td>{{ value.name }}</td>
                    <td>{{ value.age }}</td>
                    <td>{{ value.doj | date('d F Y')}}</td>
                    <td>
                        <a href="{{ path('employee_edit', {id: value.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
